*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
__api__.json
__bus__.json
local.properties
.idea
/apk
*.phrof
/mavenLocal
/reports
*/reports
*.7z